

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
  <welcome-file>signup.html </welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>firstservlet</servlet-name>
  <servlet-class>com.controller.Signup_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>firstservlet</servlet-name>
  <url-pattern>/signup</url-pattern>
  </servlet-mapping>
</web-app>
